body {
    background: linear-gradient(to bottom right, #f7e9b3, #f5a56f, #fff2be);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #00f97861;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    
}



h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    background: azure;
    border: 3;
    outline: 0;
    width: 95%;
    padding: 18px 15px;
    color: #000000;

}

button {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #acf70adc;
}

#friendList {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#friendList ul {
    list-style: none;
    padding: 0;
}

#friendList li {
    margin-bottom: 10px;
}

