.form-box{
    min-width: 60%;
    max-width: 80%;
    margin: 30px auto;
    position: absolute;     
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 50px 60px 70px; 
    text-align: center;
    background: #939393;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid black;
}

.form-box h1{

    padding: 50px 60px 70px;
    font-size: 30px;
    margin-bottom: 60px;
    color:rgb(229, 243, 202);
    position: relative;

}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
   
}

body{
    background: linear-gradient(to bottom right, #ffcc00, #ff6347, #ffcc00);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.input-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.input-group input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.input-field{
    background: #eaeaea;
    margin: 15px ;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.btn-field{
    display: flex;
    justify-content: center;

}

.btn-field button{
    flex-basis: 48%;
    background: rgb(177, 240, 4);
    color: rgb(46, 45, 45);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 1s;
}

.input-group button {
    width: calc(100% - 20px);
}

