:root{
    --SIZETILE : 50px;
    --SPACEBETWEENTILES : 20px;
    --TILECOLOR : rgb(255, 220, 155);
    --BORDERCOLOR : rgb(255, 200, 99);
    --EDGECOLOR : rgb(255, 182, 46);
}

div {
    color: cadetblue;
}

#game {
    display : inline-grid;
}


.tileGroup{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
}
.tile {
    width: var(--SIZETILE) ; 
    height: var(--SIZETILE);
    background-color: var(--TILECOLOR)
}
.verticalBorder {
    width: var(--SPACEBETWEENTILES); 
    height: var(--SIZETILE); 
    background-color: var(--BORDERCOLOR)
}
.horizontalBorder {
    width: var(--SIZETILE); 
    height: var(--SPACEBETWEENTILES); 
    background-color: var(--BORDERCOLOR)
}
.edge {
    width: var(--SPACEBETWEENTILES);
    height: var(--SPACEBETWEENTILES);
    background-color: var(--EDGECOLOR);
}
.wall{
    background-color: black;
}