body {
    font-family: 'Arial', sans-serif;
    background-color: #552200;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f4f4f4;
    text-align: center;
}

#game {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#chatPopup {
    display: grid;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}

#chatInput {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    resize: none;
}